<section class="h-[100vh] flex justify-center items-center relative">
  <img
    src="godrays.png"
    class="absolute top-0 h-[100vw] left-0 md:h-[70vw] -mt-4 md:left-7 opacity-75"
    alt="godrays"
  />
  <div
    class="flex flex-col p-7 rounded-xl liquid-glass max-w-[40vw] md:min-w-[20vw] min-w-[70vw] w-fit gap-7"
  >
    <div class="flex flex-col items-center justify-center text-center gap-y-2">
      @if (!user) {
      <h1 class="mb-2 text-xl font-semibold md:text-4xl">Ciao!</h1>

      <h2 class="mb-2 text-lg font-semibold">
        Accedi per iniziare a usare Taskee
      </h2>
      <h2 class="text-base">
        La tua app per la gestione <br />
        delle attività ti aspetta!
      </h2>
      } @else {
      <h1 class="text-xl font-semibold md:text-4xl">Benvenuto!</h1>
      <div
        class="flex flex-col items-center justify-center mb-6 text-center gap-y-2"
      >
        <img
          class="w-16 my-6 rounded-full shadow-xl cursor-pointer md:w-24"
          [src]="user.photoURL"
          alt="profile"
          referrerpolicy="no-referrer"
        />
        <h2 class="text-xl font-semibold">{{ user.displayName }}</h2>
        <h4 class="font-semibold text-gray-800">{{ user.email }}</h4>
      </div>
      }
    </div>
    <div class="w-full text-center">
      @if (user) {
      <button
        (click)="logout()"
        class="w-full text-lg text-white bg-gray-800 border-none shadow-md rounded-xl btn h-fit"
      >
        Esci
      </button>
      } @else {

      <button
        (click)="login()"
        class="w-full text-lg text-white bg-gray-800 border-none shadow-md rounded-xl btn h-fit"
      >
        <svg
          class="w-6 me-2"
          viewBox="0 0 256 262"
          preserveAspectRatio="xMidYMid"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027"
            fill="#4285F4"
          ></path>
          <path
            d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1"
            fill="#34A853"
          ></path>
          <path
            d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782"
            fill="#FBBC05"
          ></path>
          <path
            d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251"
            fill="#EB4335"
          ></path>
        </svg>
        Accedi con Google
      </button>
      }
    </div>
  </div>
</section>
