.liquid-glass {
  background-color: #286aa37e;
  box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.851),
    inset 0px 0px 20px 0px #3a8ad2;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
}

.card-board {
  width: clamp(13rem, 30vw, 18rem);
  aspect-ratio: 16/9;
  height: 10rem;
}
