<section class="flex flex-col w-full h-full">
  <!-- header section -->
  <app-header-section-board [user]="user"></app-header-section-board>

  <!-- header bacheca -->
  <app-header-board [board]="board"></app-header-board>

  <!-- main bacheca -->
  <div cdkDropListGroup class="flex-grow pt-3 w-[91vw] over overflow-x-scroll">
    <ul
      *ngIf="board"
      cdkDropList
      [cdkDropListData]="board.columns"
      (cdkDropListDropped)="dropColumn($event)"
      [cdkDropListOrientation]="'horizontal'"
      class="flex items-start h-full riga-colonne gap-x-5 list-drag-animation"
    >
      <!-- colonna standard -->
      <li
        *ngFor="
          let sezione of board.columns;
          let i = index;
          trackBy: trackByColumnId
        "
        class="min-w-52 w-[19.4rem] h-full item-drag-animation"
        cdkDrag
        [cdkDragStartDelay]="25"
        #col
      >
        <!-- header colonna -->
        <div
          [ngStyle]="{ 'background-color': sezione.color }"
          class="flex items-center justify-between px-3 py-2 font-semibold rounded-lg header-column"
        >
          <h6 class="text-white">{{ sezione.name }}</h6>
          <div class="flex items-center gap-x-2">
            <img
              cdkDragHandle
              (mousedown)="grabStart(col)"
              (mouseup)="grabEnd(col)"
              (mouseleave)="grabEnd(col)"
              class="opacity-0 drag-icon"
              src="drag.png"
              alt="icon drag"
              width="25"
            />
            <img
              class="w-5 h-4 cursor-pointer"
              src="set-column.png"
              alt="icon setting lista"
              (click)="edit.showModal()"
            />
            <!-- modale update -->
            <dialog #edit class="modal">
              <div *ngIf="sezione.id" class="modal-box liquid-glass">
                <div class="mb-3">
                  <h3 class="text-xl font-bold">Titolo</h3>
                  <input
                    #nameInput
                    [value]="sezione.name"
                    type="text"
                    class="w-full p-3 mt-3 outline-none rounded-xl bg-slate-800 opacity-80"
                  />
                </div>
                <div>
                  <h3 class="text-xl font-bold">Colore</h3>
                  <input
                    #colorInput
                    [value]="sezione.color"
                    type="color"
                    class="h-12 w-[20%] p-2 mt-3 outline-none rounded-xl bg-slate-800 opacity-80"
                  />
                </div>
                <div class="modal-action">
                  <form method="dialog" class="flex gap-x-3">
                    <!-- if there is a button in form, it will close the modal -->
                    <button
                      (click)="deleteColumn(sezione.id)"
                      class="box-border h-3 py-1 text-base text-white bg-red-700 border-0 outline-none btn btn-sm btn-ghost hover:bg-red-950"
                    >
                      Elimina
                    </button>
                    <button
                      (click)="clearInput()"
                      class="box-border h-3 py-1 text-base text-white border-0 outline-none hover:opacity-75 btn btn-sm btn-active btn-ghost"
                    >
                      Annulla
                    </button>
                    <button
                      (click)="
                        updateColumn(
                          sezione.id,
                          nameInput.value,
                          colorInput.value
                        )
                      "
                      [disabled]="!nameInput.value"
                      class="px-3 py-1 text-white bg-teal-600 border-none hover:opacity-75 btn btn-sm"
                    >
                      Salva
                    </button>
                  </form>
                </div>
              </div>
            </dialog>
            <img
              class="cursor-pointer"
              alt="icon add task"
              src="add-task.png"
              *ngIf="sezione.id"
              (click)="modal.showModal()"
            />
            <!-- Open the modal using ID.showModal() method -->
            <dialog #modal class="modal">
              <div *ngIf="sezione.id" class="modal-box liquid-glass">
                <h3 class="text-xl font-bold">Descrizione</h3>
                <input
                  [(ngModel)]="description"
                  type="text"
                  class="w-full p-3 mt-3 outline-none rounded-xl bg-slate-800 opacity-80"
                />
                <div class="modal-action">
                  <form method="dialog" class="flex gap-x-3">
                    <!-- if there is a button in form, it will close the modal -->
                    <button
                      (click)="clearInput()"
                      class="box-border h-3 py-1 text-base text-white border-0 outline-none hover:opacity-75 btn btn-sm btn-active btn-ghost"
                    >
                      Annulla
                    </button>
                    <button
                      [disabled]="!description"
                      (click)="createNewTask(sezione.tasks.length, sezione.id)"
                      class="px-3 py-1 text-white bg-teal-600 border-none hover:opacity-75 btn btn-sm"
                    >
                      Salva
                    </button>
                  </form>
                </div>
              </div>
            </dialog>
          </div>
        </div>
        <!-- body colonna -->
        <ul
          class="flex flex-col h-[92.55%] px-3 py-4 my-4 rounded-lg bg-column cont-tasks gap-y-4 body-column list-drag-animation"
          *ngIf="sezione.tasks && board.columns && sezione.id"
          [id]="sezione.id"
          cdkDropList
          [cdkDropListData]="sezione.tasks"
          [cdkDropListConnectedTo]="connectedDropListsIds"
          (cdkDropListDropped)="drop($event)"
        >
          <li
            *ngFor="let item of sezione.tasks; trackBy: trackByTaskId"
            class="item-drag-animation"
            cdkDrag
            [cdkDragStartDelay]="25"
          >
            <app-task
              [task]="item"
              [sezioneId]="sezione.id"
              [boardId]="idBoard"
            ></app-task>

            <!-- placeholder della task -->
            <ng-template cdkDragPlaceholder>
              <div
                class="flex h-10 task w-[286.39px] rounded-lg bg-black opacity-20 border-2"
              ></div>
            </ng-template>

            <!-- preview della task grabbata -->
            <ng-template cdkDragPreview>
              <div class="relative flex p-5 -rotate-6 h-fit w-80 min-h-6 task">
                <div
                  class="w-2 h-full rounded-full -rotate-6 shadow-md bg-[#2CA7FF] absolute drag-a"
                ></div>
                <div
                  class="w-full px-5 py-2 rounded-lg shadow-md -rotate-6 liquid-glass text"
                >
                  <p class="font-semibold text-white">
                    {{ item.description }}
                  </p>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
        <!-- placeholder column -->
        <ng-template cdkDragPlaceholder>
          <div
            class="min-w-52 w-[19.4rem] h-full bg-black border-2 rounded-lg task opacity-20"
          ></div>
        </ng-template>
        <ng-template cdkDragPreview>
          <li
            class="min-w-56 w-[21rem] h-fit max-h-[40rem] overflow-hidden column-preview -rotate-3 px-10"
          >
            <!-- header colonna -->
            <div
              [ngStyle]="{ 'background-color': sezione.color }"
              class="flex items-center justify-between px-3 py-2 font-semibold rounded-lg header-column -rotate-3"
            >
              <h6 class="text-white">{{ sezione.name }}</h6>
              <div class="flex items-center gap-x-2">
                <img
                  class="w-5 h-4 cursor-pointer"
                  src="set-column.png"
                  alt="icon setting lista"
                />
                <img
                  class="cursor-pointer"
                  alt="icon add task"
                  src="add-task.png"
                />
              </div>
            </div>
            <!-- body colonna -->
            <ul
              class="flex flex-col h-[92.55%] min-w-56 px-3 py-4 my-4 rounded-lg bg-column cont-tasks gap-y-4 body-column -rotate-3"
            >
              <li
                *ngFor="
                  let item of sezione.tasks | slice : 0 : 5;
                  trackBy: trackByTaskId
                "
                class="relative flex h-fit min-h-6"
              >
                <div
                  class="w-2 h-full rounded-full shadow-md bg-[#2CA7FF] absolute left-0 top-0 tag"
                ></div>
                <div
                  class="w-full px-3 py-2 rounded-lg shadow-md liquid-glass ms-4 text"
                >
                  <p class="font-semibold">{{ item.description }}</p>
                </div>
              </li>
            </ul>
          </li>
        </ng-template>
      </li>

      <!-- colonna di creazione sezioni -->
      <li class="bg-[#ffffff3f] cursor-pointer rounded-lg w-[13rem]">
        <!-- header colonna -->
        <div
          (click)="modal.showModal()"
          class="flex justify-center px-3 py-2 font-semibold rounded-lg min-w-11 gap-x-6"
        >
          <h6 class="hidden lg:block whitespace-nowrap">Aggiungi un lista</h6>
          <img src="add-column.png" alt="icon add list" width="25" />
        </div>
        <dialog #modal class="modal">
          <div class="modal-box liquid-glass">
            <div class="mb-3">
              <h3 class="text-xl font-bold">Titolo</h3>
              <input
                [(ngModel)]="nameColumn"
                type="text"
                class="w-full p-3 mt-3 outline-none rounded-xl bg-slate-800 opacity-80"
              />
            </div>
            <div>
              <h3 class="text-xl font-bold">Colore</h3>
              <input
                [(ngModel)]="colorColumn"
                type="color"
                class="h-12 w-[20%] p-2 mt-3 outline-none rounded-xl bg-slate-800 opacity-80"
              />
            </div>
            <div class="modal-action">
              <form method="dialog" class="flex gap-x-3">
                <!-- if there is a button in form, it will close the modal -->
                <button
                  (click)="clearInput()"
                  class="box-border h-3 py-1 text-base text-white border-0 outline-none hover:opacity-75 btn btn-sm btn-active btn-ghost"
                >
                  Annulla
                </button>
                <button
                  (click)="createNewColumn()"
                  [disabled]="!nameColumn"
                  class="px-3 py-1 text-white bg-teal-600 border-none hover:opacity-75 btn btn-sm"
                >
                  Salva
                </button>
              </form>
            </div>
          </div>
        </dialog>
      </li>
    </ul>
  </div>
</section>
