.cotenitore {
}

.bg-column {
  background-color: #ffffff26;
}

.new-colonna {
  width: 18rem;
  padding: 0.6rem;
  border-radius: 0.8rem;
}

.task {
  background-color: #343c42;
  border-radius: 0.5rem;
  cursor: grab;
}

.task:active {
  cursor: grabbing;
}

.text-task {
  padding-block: 0.5rem;
  padding-inline: 0.8rem;
}
