<section class="flex flex-col w-full h-full">
  <!-- header section -->
  <div
    class="flex justify-between items-center w-full h-[4rem] px-5 py-3 rounded-2xl backdrop-brightness-75"
  >
    <div class="flex items-center gap-x-6">
      <img class="h-8" src="not.png" alt="notification" />
      <!-- input -->
      <div
        class="box-border flex items-center gap-2 px-3 py-[0.35rem] rounded-xl liquid-glass"
      >
        <input
          type="text"
          class="font-semibold bg-transparent cerca"
          placeholder="Cerca Task..."
        />
        <img src="lente.png" alt="lente di ricerca" width="20" />
      </div>
    </div>
    <div class="flex items-center gap-x-8">
      <div class="flex items-center gap-x-4">
        <div class="-space-x-2 avatar-group rtl:space-x-reverse">
          <div class="avatar">
            <div class="w-7">
              <img
                src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
              />
            </div>
          </div>
          <div class="avatar">
            <div class="w-7">
              <img
                src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
              />
            </div>
          </div>
          <div class="avatar">
            <div class="w-7">
              <img
                src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
              />
            </div>
          </div>
          <div class="avatar">
            <div class="w-7">
              <img
                src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
              />
            </div>
          </div>
        </div>

        <button
          class="box-border h-3 py-1 text-base text-white border-0 hover:scale-105 hover:bg-slate-900 btn btn-sm btn-active btn-ghost"
        >
          <img src="add-user.png" height="20" width="20" />
          condividi
        </button>
      </div>
      <div class="flex gap-4">
        <img
          class="cursor-pointer w-[30px] h-[30px]"
          src="archive.png"
          alt="archivio"
        />
        <img class="cursor-pointer w-7 h-7" src="risorse.png" alt="risorse" />
      </div>
    </div>
  </div>
  <!-- header bacheca -->
  <div
    *ngIf="board"
    class="flex items-end justify-between w-full mt-4 mb-2 font-semibold pe-5 navDash h-14"
  >
    <h1 class="text-4xl font-semibold">{{ board.name }}</h1>
    <div class="flex items-center gap-x-8">
      <div
        class="flex rounded-md gap-x-2 hover:bg-[#286aa3] p-2 cursor-pointer"
      >
        <img src="filter.png" alt="icon fiter" />
        <p>Filters</p>
      </div>
      <div class="flex gap-x-2">
        <img
          class="h-8 p-1 cursor-pointer active-or"
          src="column.png"
          alt="icon columns"
        />
        <img
          class="h-8 p-1 cursor-pointer"
          src="tables.png"
          alt="icon tables"
        />
      </div>
      <div class="pb-1 border-s-2 ps-5">
        <p class="text-3xl cursor-pointer">•••</p>
      </div>
    </div>
  </div>
  <!-- main bacheca -->
  <div class="flex-grow pt-3">
    <ul
      *ngIf="board"
      class="flex items-start h-full riga-colonne gap-x-5"
      cdkDropListGroup
    >
      <!-- colonna standard -->
      <li
        *ngFor="
          let sezione of board.columns;
          let i = index;
          trackBy: trackByColumnId
        "
        class="min-w-52 w-[19.4rem] h-full"
      >
        <!-- header colonna -->
        <div
          [ngStyle]="{ 'background-color': sezione.color }"
          class="flex items-center justify-between px-3 py-2 font-semibold rounded-lg"
        >
          <h6 class="text-white">{{ sezione.name }}</h6>
          <div class="flex items-center gap-x-2">
            <img
              class="w-5 h-4"
              src="set-column.png"
              alt="icon setting lista"
            />
            <img
              alt="icon add task"
              src="add-task.png"
              *ngIf="sezione.id"
              (click)="
                createNewTask(sezione.tasks.length, 'Fare qualcosa', sezione.id)
              "
            />
          </div>
        </div>
        <!-- body colonna -->
        <ul
          class="flex flex-col h-[92.55%] px-3 py-4 my-4 rounded-lg bg-column cont-tasks gap-y-4"
          cdkDropList
          *ngIf="sezione.tasks"
          [cdkDropListData]="sezione.tasks"
          (cdkDropListDropped)="drop($event)"
        >
          <li
            *ngFor="let item of sezione.tasks; trackBy: trackByTaskId"
            class="relative flex h-fit min-h-6 task"
            cdkDrag
          >
            <div
              class="w-2 h-full rounded-full shadow-md bg-[#2CA7FF] absolute left-0 top-0 tag"
            ></div>
            <div
              class="w-full px-3 py-2 rounded-lg shadow-md liquid-glass ms-4 text"
            >
              <p class="font-semibold">{{ item.description }}</p>
            </div>

            <!-- placeholder della task -->
            <ng-template cdkDragPlaceholder>
              <div
                class="flex h-fit min-h-6 task w-[286.39px] rounded-lg bg-black opacity-20"
              ></div>
            </ng-template>

            <!-- preview della task grabbata -->
            <ng-template cdkDragPreview>
              <div class="relative flex p-5 -rotate-6 h-fit w-80 min-h-6 task">
                <div
                  class="w-2 h-full rounded-full -rotate-6 shadow-md bg-[#2CA7FF] absolute drag-a"
                ></div>
                <div
                  class="w-full px-5 py-2 rounded-lg shadow-md -rotate-6 liquid-glass text"
                >
                  <p class="font-semibold">
                    {{ item.description }}
                  </p>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
      </li>

      <!-- colonna di creazione sezioni -->
      <li class="bg-[#ffffff3f] cursor-pointer rounded-lg w-[13rem]">
        <!-- header colonna -->
        <div
          (click)="createNewColumn('new Column', '#fff')"
          class="flex justify-center px-3 py-2 font-semibold rounded-lg gap-x-6"
        >
          <h6>Aggiungi un lista</h6>
          <img src="add-column.png" alt="icon add list" width="25" />
        </div>
      </li>
    </ul>
  </div>
</section>
