<section class="flex flex-col w-full h-full">
  <!-- header section -->
  <div
    class="flex justify-between w-full px-5 py-3 rounded-2xl backdrop-brightness-75"
  >
    <p>not</p>
    <input type="text" class="input input-sm" placeholder="ciao" />
    <p>icon isco iscos</p>
    <button class="btn btn-sm">condividi</button>
    <p>icon</p>
    <p>icon</p>
  </div>
  <!-- header bacheca -->
  <div
    *ngIf="board"
    class="flex items-end justify-between w-full mt-4 mb-2 font-semibold pe-5 navDash h-14"
  >
    <h1 class="text-2xl">{{ board.name }}</h1>
    <div class="flex items-center gap-3.5">
      <p>•••</p>
    </div>
  </div>
  <!-- main bacheca -->
  <div class="flex-grow pt-3">
    <ul
      *ngIf="board"
      class="flex items-start h-full riga-colonne gap-x-5"
      cdkDropListGroup
    >
      <!-- colonna standard -->
      <li
        *ngFor="
          let sezione of board.columns;
          let i = index;
          trackBy: trackByColumnId
        "
        class="min-w-52 w-[19.4rem] h-full"
      >
        <!-- header colonna -->
        <div
          [ngStyle]="{ 'background-color': sezione.color }"
          class="flex items-center justify-between px-3 py-2 font-semibold rounded-lg"
        >
          <h6 class="text-white">{{ sezione.name }}</h6>
          <p
            *ngIf="sezione.id"
            (click)="
              createNewTask(sezione.tasks.length, 'Fare qualcosa', sezione.id)
            "
          >
            •••
          </p>
        </div>
        <!-- body colonna -->
        <ul
          class="flex flex-col h-[92.55%] px-3 py-4 my-4 rounded-lg bg-column cont-tasks gap-y-4"
          cdkDropList
          *ngIf="sezione.tasks"
          [cdkDropListData]="sezione.tasks"
          (cdkDropListDropped)="drop($event)"
        >
          <li
            *ngFor="let item of sezione.tasks; trackBy: trackByTaskId"
            class="flex flex-col task"
            cdkDrag
          >
            <div class="text-task">{{ item.description }}</div>
          </li>
        </ul>
      </li>

      <!-- colonna di creazione sezioni -->
      <li class="bg-[#ffffff3f] cursor-pointer rounded-lg min-w-52 w-[19.4rem]">
        <!-- header colonna -->
        <div
          class="flex items-center justify-between px-3 py-2 font-semibold rounded-lg"
        >
          <h6>+ Aggiunvi un'altra lista</h6>
          <p (click)="createNewColumn('new Column', '#fff')">•••</p>
        </div>
      </li>
    </ul>
  </div>
</section>
