<div
  *ngIf="board"
  class="flex flex-col items-end justify-between w-full mt-4 mb-2 font-semibold gap-y-5 sm:flex-row pe-5 navDash min-h-14"
>
  <h1 class="self-start text-4xl font-semibold">{{ board.name }}</h1>
  <div class="flex items-center gap-x-8">
    <div class="flex rounded-md gap-x-2 hover:bg-[#286aa3] p-2 cursor-pointer">
      <img src="filter.png" alt="icon fiter" />
      <p>Filters</p>
    </div>
    <div class="flex gap-x-2">
      <img
        class="h-8 p-1 cursor-pointer active-or"
        src="column.png"
        alt="icon columns"
      />
      <img class="h-8 p-1 cursor-pointer" src="tables.png" alt="icon tables" />
    </div>
    <div class="pb-1 border-s-2 ps-5">
      <p class="text-3xl cursor-pointer">•••</p>
    </div>
  </div>
</div>
