.task:active {
  cursor: grabbing;
}

.task > .tag {
  transition: 150ms ease-out;
}

.task:active > .tag {
  height: calc(100% - 10px);
  left: 1.4rem;
  top: 5px;
  z-index: 10;
  transition: 150ms ease-out;
}

.task > .text {
  transition: 150ms ease-out;
}

.task:active > .text {
  padding-left: 1.5rem;
  transition: 150ms ease-out;
}

.deleteTask:hover > img {
  opacity: 1;
}
